<html>
    <head>
        <title>Jully Delmaz blog's</title>
        MEU PRIMEIRO BLOG COM DJANGO!
    </head>
    <body>
        <h1>Primeiros comandos</h1>
        <div><p>Hi there! </p>
        <p>It works, uhuuul!</p></div>
        <h2>Testando coisas</h2>
        <div><p> Estou gostando da experiência de criar um blog pelo django, é bem diferente e divertido.</p>
        <em> Estou testando outras tags para entender como montar meu template de uma forma legal e que eu goste</em> <!-- Deixa o texto em italico-->
        <p><strong> Acho que esse é em negrito</strong></p></div> <!---->
        






    </body>
</html>